<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test Golang Web App!</title>
  </head>
  <body>
    <h1>Test Golang App!</h1>
    <h2>Hello, {{.Name}}!</h2>
    <h2>Hostname: {{.Hostname}}</h2>
  </body>
</html>
{{template "footer"}}
